{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
{% if todo.pk %}
        Editar Tarefa
    {% else %}
        Criar tarefa
    {% endif %}
{% endblock page_title %}
{% block content %}
    {% if todo.pk %}
        <h2>Editar Tarefa</h2>
    {% else %}
        <h2>Criar tarefa</h2>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        {{form|crispy}}

    {% if todo.pk %}
        <button type="submit" class="btn btn-primary">Salvar Tarefa</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Criar Tarefa</button>
    {% endif %}
    </form>           
{% endblock content %}
